@page "/foo/counter"
<!-- ðŸ‘† (3) "ã‚«ã‚¦ãƒ³ã‚¿" ãƒšãƒ¼ã‚¸ã® URL ã‚’ã€è¤‡æ•°ã‚»ã‚°ãƒ¡ãƒ³ãƒˆã‚’æŒã¤ URL ã«å¤‰æ›´ -->

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
